hs_err_pid*.log
/_obj
.idea
/client/SnailAndroid/app/src/main/java/config/SnailConfig.java
/client/ios-Snail/fastCatIosVpn/src/FastCat/ApiServerIp.m
/client/SnailAndroid/kmgAar/kmgAar.aar
/client/SnailAndroid/fcAndroid/fcAndroid.aar
*__gen.go
*__ignore.go
*.swp
*.swo
/bin
.DS_Store
/pkg
/log
/data/*
!/data/Category.yml
!/data/dashboard.server.yml
/ep/exp/sendEmail.go
/exp
*.rdb
/config/*.yml
/config/keys
!/config/IPsecOnServerA.conf
/tmp
/client/ios
.git
*.apk
/client/android-FastCat/app/src/main/java/com/yxnfnd9/android_fcvpn1/fcResource/i18nResource.java
/src/fastCat/i18n/*.json
/client/ios-FastCat/fcIos.framework
/client/ios-FastCat/fcClientBind.framework
/client/fastCat-swift/Rpc/fastCatRpc.swift
/client/android-FastCatV2/fcAndroid/fcAndroid.aar
/client/fastCat-swift/fcClientBind.framework
/client/ios-fox/fastCat-swift.xcodeproj/xcuserdata
/client/ios-fox/fcClientBind.framework/
fcClientBind.framework
foxClientBind.framework
/client/ios-fox/Pods/Pods.xcodeproj/xcuserdata/
/client/ios-Fox/fcClientBind.framework
/client/ios-fox/fastCat-swift.xcworkspace/xcuserdata
/client/ios-Fox/fcClientBind.framework/FcClientBind
/client/ios-Fox/fcClientBind.framework/Versions/A/FcClientBind
/client/ios-Fox/fcClientBind.framework/Versions/Current/FcClientBind
*.xcuserdatad
/client/ios-fox/fastCat-swift.xcodeproj/xcuserdata/*
/client/ios-fox/fastCat-swift.xcworkspace/xcuserdata/
client/ios-fox/fastCat-swift.xcodeproj/xcuserdata/
/client/ios-Fox/fcClientBind.framework/
*Config_ignore.go
/client/ios-fox/Pods/Pods.xcodeproj/xcuserdata/

# Android Studio
/.idea/workspace.xml
/.idea/libraries
client/SnailAndroid/local.properties
/build
.gradle
.iml
client/Android-Snail/.gradle/*
client/SnailAndroid/kmgAar/
client/SnailAndroid/app/kmgAar/
client/SnailAndroid/build/*
client/SnailAndroid/app/build/*
client/ios-Snail/SnClientBind.framework
client/ios-Snail/SnClientBind.framework/
client/ios-Snail/kmgIosFramework.framework/

client/SnailAndroid/app/src/main/java/config/SnailConfig.java
client/ios-Snail/fastCatIosVpn/src/FastCat/ApiServerIp.m
client/ios-Snail/SnailCgo.framework
